<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a routerLink="/add-user" class="nav-link" class="btn btn-primary active" role="button">Añadir usuario</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" class="btn btn-primary active" role="button" routerLink="/admin">Inicio</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="d-flex mb-3 align-items-center">
      <input type="text" class="form-control mr-3" placeholder="Buscar por username" [(ngModel)]="textoBusqueda" (input)="filtrarUsuarios()">
      <label class="switch">
        <input type="checkbox" [(ngModel)]="reportado" (ngModelChange)="onSwitchChange($event)">
        <span class="slider round"></span>
      </label>
      <span class="ml-2">Usuarios reportados</span>
    </div>
    <table class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Ciudad</th>
          <th>Provincia</th>
          <th>Código postal</th>
          <th>Reportado</th>
          <th>Acción</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuariosFiltrados ">
          <td>{{usuario.id}}</td>
          <td>{{usuario.username}}</td>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.ciudad}}</td>
          <td>{{usuario.provincia}}</td>
          <td>{{usuario.codigoPostal}}</td>
          <td>{{usuario.reportado}}</td>
          <td><button (click)="eliminarUser(usuario.id)" class='btn btn-primary btn-eliminar'><i class="fa fa-futboll-0">Eliminar</i></button>
            <button class='btn btn-info' data-toggle="modal" data-target="#myModal" (click)="navegarLibrosUsuario(usuario.id)">Ver libros</button>
          </td>
        </tr>
      </tbody><br>
    </table>
  </div>
</div>